<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="org.liteorm.test.xmlresult.DuplicateResultMapIdMapper">
    <resultMap id="valueResult" type="org.liteorm.test.xmlresult.DuplicateResultMapIdMapper.Value">
        <result property="value" column="value"/>
    </resultMap>
    <resultMap id="valueResult" type="org.liteorm.test.xmlresult.DuplicateResultMapIdMapper.Value">
        <result property="value" column="other_value"/>
    </resultMap>
    <select id="find" resultMap="valueResult">SELECT 'value' AS value</select>
</mapper>
