<?xml version="1.0" encoding="UTF-8" ?>
<mapper namespace="io.github.kervix.test.mappingfixture.XmlStandaloneDynamicMapper">
    <sql id="idSelection">SELECT id FROM users WHERE id = #{id}</sql>
    <sql id="dynamicNameCondition">
        <bind name="includedPattern" value="'%' + name + '%'"/>
        <if test="name != null">WHERE name LIKE #{includedPattern}</if>
    </sql>

    <select id="includeOnly" resultType="java.lang.Long">
        <include refid="idSelection"/>
    </select>

    <select id="bindOnly" resultType="java.lang.Long">
        <bind name="pattern" value="'%' + name + '%'"/>
        SELECT id FROM users WHERE name LIKE #{pattern}
    </select>

    <select id="includeDynamic" resultType="java.lang.Long">
        SELECT id FROM users
        <include refid="dynamicNameCondition"/>
    </select>
</mapper>
