# 忽略以下文件或者目录
.idea/
target/


# 要求
- 没有用的代码不要写，可以删掉现有的无用代码
- 为了节约token 你的回复尽量简短
- 注意抽象 代码结构 和 代码复用，代码修改完成之后要测试,junit单元测试
- 不要过度设计
- 定义内部类时候合理使用 record class 
- 设计模式六大原则，具体如下：
    单一职责原则（类和方法，接口）
    开闭原则 （扩展开放，修改关闭）
    里氏替换原则（基类和子类之间的关系）
    依赖倒置原则（依赖抽象接口，而不是具体对象）
    接口隔离原则（接口按照功能细分）
    迪米特法则 （类与类之间的亲疏关系）

# 方法论
1. 先实现再优化，初期过度优化往往收益不大，先把目标达成 再用设计模式去优化
2. 努力工作(work Super Hard)


# 定位
我们要替代MyBatis 提供一个更简单更高效更易用的ORM框架。用户要低成本迁移。