# 忽略以下文件或者目录
.idea/
target/


# 要求
- 没有用的代码不要写，可以删掉现有的无用代码
- 为了节约token 你的回复尽量简短
- 注意抽象 代码结构 和 代码复用，代码修改完成之后要测试,junit单元测试
- 每次只做1件事逐步递进
- 不要过度设计
- 定义内部类时候合理使用 record class 
- 设计模式六大原则，具体如下：
    单一职责原则（类和方法，接口）
    开闭原则 （扩展开放，修改关闭）
    里氏替换原则（基类和子类之间的关系）
    依赖倒置原则（依赖抽象接口，而不是具体对象）
    接口隔离原则（接口按照功能细分）
    迪米特法则 （类与类之间的亲疏关系）

# 方法论
1. 第一性原理思维(First Principles Thinking)
    不依赖“别人怎么做”，而是像物理学家一样，从最基本的事实出发推演答案。
    或许你需要从本质出发，以目标为导向，自下而上思考，看看最底层我们需要什么功能
    这些功能分别属于哪些角色或类。它们之间有哪些关系。直到最上层。
    然后要以什么组合去拼装这些组件，他们之间的关系是什么。
    再自上而下整个项目生命周期是什么，拆解到组件生命周期是什么，请求链路是怎样
    是否容易扩展，性能如何，便捷性怎样
    例子：电池被认为很贵，他不是接受这个“共识”，而是分解电池成本，发现原料其实并不贵，只是制造方式有问题。

2. 努力工作(work Super Hard)


# 定位
我们要替代MyBatis 提供一个更简单更高效更易用的ORM框架。用户要低成本迁移。