<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="org.liteorm.test.xmlresult.DiscriminatorResultMapper">
    <resultMap id="valueResult" type="org.liteorm.test.xmlresult.DiscriminatorResultMapper.Value">
        <discriminator column="kind" javaType="java.lang.String"/>
    </resultMap>
    <select id="find" resultMap="valueResult">SELECT 'value' AS value</select>
</mapper>
