<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="org.liteorm.test.diagnostics.InvalidChooseChildMapper">
    <select id="findValue" resultType="org.liteorm.test.diagnostics.ValueRow">
        SELECT 'value'
        <choose>
            <if test="value != null">WHERE value = #{value}</if>
        </choose>
    </select>
</mapper>
