<?xml version="1.0" encoding="UTF-8" ?>
<mapper namespace="org.liteorm.test.mappingfixture.XmlRowMapperMapper">
    <select id="findOne" resultType="org.liteorm.test.mappingfixture.Result">
        SELECT id FROM users WHERE id = #{id}
    </select>
    <select id="findAll" resultType="org.liteorm.test.mappingfixture.Result">
        SELECT id FROM users WHERE id &gt;= #{id}
    </select>
</mapper>
