<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper [
    <!ENTITY external SYSTEM "file:///etc/passwd">
]>
<mapper namespace="org.liteorm.test.diagnostics.DoctypeXmlMapper">
    <select id="findValue" resultType="org.liteorm.test.diagnostics.ValueRow">
        SELECT '&external;'
    </select>
</mapper>
