<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="org.liteorm.test.diagnostics.WhenAfterOtherwiseMapper">
    <select id="findValue" resultType="org.liteorm.test.diagnostics.ValueRow">
        SELECT 'value'
        <choose>
            <otherwise>WHERE 1 = 1</otherwise>
            <when test="value != null">WHERE value = #{value}</when>
        </choose>
    </select>
</mapper>
