<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="io.github.lynxus.test.xmlresult.BlankResultMapIdMapper">
    <resultMap id="" type="io.github.lynxus.test.xmlresult.BlankResultMapIdMapper.Value">
        <result property="value" column="value"/>
    </resultMap>
    <select id="find" resultType="io.github.lynxus.test.xmlresult.BlankResultMapIdMapper.Value">
        SELECT 'value' AS value
    </select>
</mapper>
