<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="io.github.kervix.test.diagnostics.ComplexResultMapMapper">
    <resultMap id="valueResult" type="io.github.kervix.test.diagnostics.ValueRow">
        <association property="value" javaType="java.lang.String"/>
    </resultMap>

    <select id="findValue" resultMap="valueResult">
        SELECT 'value' AS value
    </select>
</mapper>
