<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="io.github.kervix.test.diagnostics.CyclicIncludeMapper">
    <sql id="first"><include refid="second"/></sql>
    <sql id="second"><include refid="first"/></sql>
    <select id="findValue" resultType="io.github.kervix.test.diagnostics.ValueRow">
        SELECT <include refid="first"/>
    </select>
</mapper>
